<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <div class="titles">
          <h1 class="title-page">Create your account</h1>
        </div>

        <div class="content-form">
          <form class="" action="/insert" method="post">

            <div class="form-div-panel">
              <label class="form-labels" for="formUserName">Username</label>
              <input class="inputs-texts" type="text" id="formUserName" name="formUserName">
            </div>

            <div class="form-div-panel">
              <label class="form-labels" for="formSecondName">Second name</label>
              <input class="inputs-texts" type="text" id="formSecondName" name="formSecondName">
            </div>

            <div class="form-div-panel">
              <label class="form-labels" for="formPassword">Password</label>
              <input class="inputs-texts" type="password" id="formPassword" name="formPassword">
            </div>

            <div class="form-div-panel">
              <!-- <input class="buttom" type="submit " name="" value="Send Request"> -->
              <button type="submit" name="button" class="buttom">SEND</button>

            </div>

          </form>
        </div>

        <div class="">
          <form class="" action="/consultar" method="post">
            <button type="submit" name="button" class="buttom">CONSULTAR</button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
