<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="search-header">
      <div class="search-header-container">
        <div class="search-titles">
          <h1 class="search-title-page">Looking for an account</h1>
        </div>

        <div class="form-search">
          <form class="" action="/select" method="post">
            <label class="search-label" for="formUserName">Username</label>
            <input class="search-input-text" type="text" id="formUserName" name="formUserName">
            <label class="search-label" for="formUserPassword">Password</label>
            <input class="search-input-text" type="text" id="formUserPassword" name="formUserPassword">
            <button type="submit" name="button">SEND</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
