.search-header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-header-container {
  width: 50%;
  display: block;
}

.search-titles {
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}

.search-title-page {
  font-family: 'Montserrat', sans-serif;
  word-spacing: -3px;
  font-size: 2.5rem;
  color: #1A202C;
}

.search-label {
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 .5rem 0;
  color: #4299E1;
}

.search-input-text {
  padding: .4rem .4rem;
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #4299E1;
  border-radius: 5px;
}
